/* Reset et box-sizing */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Arial', sans-serif;
    height: 100vh;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg,#AFC1FF 67%, #BFC2CD 100%);
    padding: 10px 20px;
    width: 100%;
    height: 150px; /* Ajusté pour une hauteur plus standard */
    position: relative;
}

/* Logo */
.logo-link {
    display: inline-block;
    text-decoration: none;
}

.logo {
    height: 150px; /* Taille de base */
    max-height: 150%;
    width: auto;
    cursor: pointer;
}

/* Menu de navigation */
.nav-menu {
    display: flex;
    gap: 30px;
    align-self: flex-start;
    margin-top: 20px;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: calc(12px + 0.5vw);
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #7c7c7c;
}

/* Bouton d'inscription */
.inscription-button {
    text-decoration: none;
    color: white;
    font-size: calc(14px + 0.5vw);
    font-weight: 500;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    padding: 8px 16px;
    background-color: transparent;
    border-radius: 4px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.inscription-button:hover {
    color: #7c7c7c;
    background-color: rgba(255, 255, 255, 0.1);
}

/* Avatar pour l'utilisateur connecté */
.profile-avatar {
    align-self: center;
    
}

.avatar-img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
}

.profile-icons {
    width: 80px;
    height: 22px;
    gap: 5px;
}

/* Style des icônes */
.profile-icons i {
    font-size: 18px;
    cursor: pointer;
    color: rgb(66 66 66); 
    
}

/* Menu burger pour mobile */
.burger-menu {
    color: white;
    font-size: calc(24px + 0.5vw);
    cursor: pointer;
    display: none; /* Masqué par défaut */
}

/* Media Query pour les petits écrans */
@media (max-width: 690px) {
    /* Votre media query existante */
}

/* Footer Global */
footer {
  background-color: #000; /* Fond noir */
  color: #fff; /* Texte blanc */
  padding: 0px 20px 20px 20px;
  font-family: Arial, sans-serif;
}

.top-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-height: 120px;
  width: auto;
  background-color: #e2f1ffdb;
  border-radius: 30px;
  margin-top: 20px;
}

.socials {
  text-align: left; 
  
}

.socials p {
  margin: 0;
  font-size: 14px;
  color: #bbb; /* Couleur du texte gris clair */
}

.socials .icons {
  margin-top: 5px;
}

.socials .icons a {
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
  font-size: 24px; /* Agrandir les icônes */
  transition: color 0.3s ease; /* Animation */
}

.socials .icons a:hover {
  color: #ccc; /* Changement générique de couleur */
}

.socials .icons a:hover .fa-youtube {
  color: #FF0000; /* Couleur rouge pour YouTube */
}

.socials .icons a:hover .fa-facebook-f {
  color: #1877F2; /* Couleur bleue pour Facebook */
}

.socials .icons a:hover .fa-instagram {
  background: linear-gradient(45deg, #F58529, #DD2A7B, #8134AF, #515BD4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Applique le dégradé au texte */
}

.socials .icons a:hover .fa-linkedin-in {
  color: #0077B5; /* Couleur bleue pour LinkedIn */
}

.socials .icons a:hover .fa-tiktok {
  background: linear-gradient(100deg, #c6f9fc, #ffffff, #ffb7c5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Applique le dégradé au texte */
}

hr {
  border: none;
  border-top: 1px solid #fff; /* Ligne blanche fine */
  margin: 20px 0;
}

/* Bottom Section */
.bottom-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Réorganise en petits écrans */
}

.column {
  flex: 1;
  margin: 0 10px;
  max-width: 200px; /* Réduit l'espacement */
}

.column h3 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.column ul {
  list-style: none;
  padding: 0;
}

.column ul li {
  font-size: 14px;
  margin-bottom: 5px;
}

.column ul li a {
  color: #fff;
  text-decoration: none;
}

.column ul li a:hover {
  text-decoration: underline;
}

/* Site Description Section */
.site-description {
  flex: 1;
  margin: 0 10px;
  max-width: 203px; /* Réduit l'espacement */
}

.site-description h3 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* Support and Location Section */
.support-location {
  display: flex;
  justify-content: center; /* Centrer les deux sections */
  gap: 50px; /* Espacement entre les deux */
  margin-top: 20px;
}

.support, .location {
  flex: 1;
  text-align: center;
}

.support h3, .location h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.support p, .location p, .site-description p {
  font-size: 14px;
  margin-bottom: 5px;
}

.support a, .location a {
  color: #00aced;
  text-decoration: none;
}

.support a:hover, .location a:hover {
  text-decoration: underline;
}

/* Mentions légales */
.legal-links {
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
  color: #bbb;
}

.legal-links a {
  color: #bbb;
  text-decoration: none;
}

.legal-links a:hover {
  color: #fff;
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .top-footer {
    align-items: flex-start;
  }

  .bottom-footer {
    align-items: center;
  }

  .support-location {
    align-items: center;
  }

  .support, .location {
    margin-bottom: 20px;
  }
}







/* Général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* Conteneur principal */
.container {
  padding: 20px;
  max-width: 1500px;
  margin: auto;
}

.container h2 {
    text-align: left;
    margin-bottom: 20px;
    color: #333;
}

/* Détails de l'annonce */
.annonce-detail {
  padding: 20px;
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.info-box {
  flex: 2;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #eff3ff;
  position: relative; /* Enable positioning for buttons */
}

/* Button Container for Bottom-Right Alignment */
.button-container {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  gap: 10px; /* Space between buttons */
}

/* Heart Button Styling */
.heart-button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: transform 0.2s, color 0.2s;
}

.heart-button svg {
  fill: gray;
  transition: fill 0.2s;
}

.heart-button:hover svg {
  fill: red;
  transform: scale(1.1);
}

.heart-button:active {
  transform: scale(0.95);
}

/* Contact Icon Button Styling */
.contact-icon-button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: transform 0.2s, color 0.2s;
}

.contact-icon-button svg {
  fill: gray;
  transition: fill 0.2s;
}

.contact-icon-button:hover svg {
  fill: #007bff;
  transform: scale(1.1);
}

.contact-icon-button:active {
  transform: scale(0.95);
}



.image-box {
  flex: 1;
  border: 1px solid #333;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.image-box img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.info-box {
  flex: 2;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #eff3ff;
}

.info-section p, .description p {
  margin: 10px 0;
}

/* Section Conditions financières */
.financial-conditions {
  margin-top: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  flex: 1;
  border: 1px solid #333;
  border-radius: 8px;
  overflow: hidden;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.financial-conditions h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.financial-conditions ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.financial-conditions li {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

.financial-conditions li strong {
  color: #333;
}

/* Style des prix dans la boîte info */
.info-box .price {
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
  margin-top: 10px;
}
