body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.alerte-item {
    background: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 15px;
    margin: 10px auto;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.alerte-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alerte-header h2 {
    margin: 0;
    font-size: 1rem;
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.delete-btn img {
    width: 20px;
    height: 20px;
}

.alerte-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.alerte-tags span {
    background: #e9ecef;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9rem;
    color: #495057;
}

.alerte-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dee2e6;
    padding-top: 10px;
    margin-top: 10px;
}

.alerte-details p {
    margin: 0;
    font-size: 0.9rem;
    color: #6c757d;
}

.toggle-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.8rem;
}

.toggle-btn:hover {
    opacity: 0.9;
}


.alerts-empty {
    text-align: center;
    margin-top: 50px;
    padding: 115px;
}

.animation-container {
    margin-bottom: 20px;
    animation: bounce 2s infinite;
}

.bell {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}



.empty-text {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
}

.create-alert-button {
    background-color: #1E90FF;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-alert-button:hover {
    background-color: #4682B4;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
