/* Reset et box-sizing */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg,#AFC1FF 67%, #BFC2CD 100%);
    padding: 10px 20px;
    width: 100%;
    height: 150px; /* Ajusté pour une hauteur plus standard */
    position: relative;
}

/* Logo */
.logo-link {
    display: inline-block;
    text-decoration: none;
}

.logo {
    height: 150px; /* Taille de base */
    max-height: 150%;
    width: auto;
    cursor: pointer;
}

/* Menu de navigation */
.nav-menu {
    display: flex;
    gap: 30px;
    align-self: flex-start;
    margin-top: 20px;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: calc(12px + 0.5vw);
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #7c7c7c;
}

/* Bouton d'inscription */
.inscription-button {
    text-decoration: none;
    color: white;
    font-size: calc(14px + 0.5vw);
    font-weight: 500;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    padding: 8px 16px;
    background-color: transparent;
    border-radius: 4px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.inscription-button:hover {
    color: #7c7c7c;
    background-color: rgba(255, 255, 255, 0.1);
}

/* Avatar pour l'utilisateur connecté */
.profile-avatar {
    align-self: center;
    
}

.avatar-img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
}

.profile-icons {
    width: 80px;
    height: 22px;
    gap: 5px;
}

/* Style des icônes */
.profile-icons i {
    font-size: 18px;
    cursor: pointer;
    color: rgb(66 66 66); 
    
}

.profile-dropdown {
    width: 250px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.dropdown-item {
    display: flex;
    gap: 10px;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item i {
    font-size: 16px;
    color: #007bff;
}

.dropdown-item:hover {
    background-color: #f5f5f5;
    color: #007bff;
}

.header-logout {
    color: #ff4d4d;
    font-weight: 600;
    justify-content: center;
    margin-block-start: auto;
}

.header-logout:hover {
    background-color: #ffe6e6;
    color: #ff1a1a;
}





/* Menu burger pour mobile */
.burger-menu {
    color: white;
    font-size: calc(24px + 0.5vw);
    cursor: pointer;
    display: none; /* Masqué par défaut */
}

/* Media Query pour les petits écrans */
@media (max-width: 690px) {
    /* Votre media query existante */
}
