/* Page de recherche */
.search-page {
  display: flex;
  max-width: 1200px;
  margin: 2rem auto;
  gap: 2rem; /* Espace entre les sections */
  flex-direction: column;
}

/* Filters Section */
.filters {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 5;
  justify-content: space-evenly;
}
.filter-form {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.filters h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #333;
}

.form-group {
  margin-bottom: 1rem;
  width: max-content;
}

.filters .form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #555;
}

.filters .form-group input,
.filters .form-group select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button-container {
  margin-bottom: 1rem;
  position: relative; /* Ensure it appears correctly */
  z-index: 1; /* Ensure it appears above other elements */
}

.toggle-button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  background-color: #7188cd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: #fff;
  color: #7188cd;
}

.boutton-container {
  display: flex;
  gap: 15px;
 
}

.input-container {
  display: none;
 
}

.input-container.show {
  display: block;
  max-height: 200px; /* Adjust as needed */
  z-index: 10; /* Ensure it appears above other elements */
  margin-top: 5px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Ensure content is visible */
  transition: max-height 0.3s ease; /* Smooth transition */
  position: relative; /* Ensure it appears correctly */

}








/* Results Section */
.result-container {
  flex: 1;
}

.property-card {
  display: flex;
  flex-direction: row;
  background: white;
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.property-card img {
  border-bottom: 1px solid #ddd;
  transition: transform 0.3s ease;
  border-radius: 5px;
  cursor: pointer;
  max-height: 190px;
  width: 20vw;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

.property-card img:hover {
  cursor: pointer;
  transform: scale(1.005);
  cursor: pointer;
}

.property-info {
  padding: 10px;
}

.property-info h3 {
  margin: 10px 0;
}

.filter-button{
  background-color: #7188cd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1rem;
  margin-bottom: auto;
}
.research-button{
  background-color: #7188cd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1rem;
}
.filter-button:hover{
  background-color: #fff;
  color: #7188cd;
}
.research-button:hover{
  background-color: #fff;
  color: #7188cd;
}

.tout-sauf-alert {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 45px;
}

.alert-button {
  background-color: #7188cd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1rem;
  margin-bottom: auto;
}

.alert-button i {
  font-size: 1.2rem; /* Taille de l'icône */
}

.alert-button:hover {
  background-color: #fff;
  color: #7188cd;
}
.form-group ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.form-group ul:hover {
  cursor: pointer;
}

#suggestionsList {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    background: white;
    position: absolute;
    z-index: 1000;
}
  
#suggestionsList li {
    padding: 8px;
    cursor: pointer;
}
  
#suggestionsList li:hover {
    background-color: #f0f0f0;
}

 
.annonces-empty {
  text-align: center;
  margin-top: 50px;
  padding: 90px;
}

.animation-container {
  margin-bottom: 20px;
  font-size: 80px;
  color: #020e1a;
  animation: pulse 10s infinite;
}

.empty-text {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}

.create-annonce-button {
  background-color: #4682B4;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-annonce-button:hover {
  background-color: #7188cd;
}
