.titre {
    background: linear-gradient(0deg, #9CABDD 0%, #AFC1FF 67%);
    padding: 0px 20px 10px 20px;
}

.titre t1 {
    color: white;
    margin-left: calc(17%);
    font-size: 25px;
    font-weight: bold;
}

.back-button {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff; /* Couleur bleue standard */
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px; /* Espacement à droite */
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s ease;
}

.back-button i {
    margin-right: 5px; /* Espacement entre l'icône et le texte */
    font-size: 20px;
}

.back-button:hover {
    color: #797979; /* Couleur plus foncée au survol */
    transform: scale(1.05); /* Légère mise en évidence */
}

.profile-item {
    margin: 20px; /* Ajoute une marge de 20px tout autour */
    padding: 15px; /* Facultatif : Ajoute de l'espace à l'intérieur du bloc */
    border: 1px solid #555555;
}

.profile-item label {
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
    color: #555555;
}

.profile-item input {
    width: 100%;
    padding: 8px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}

.edit-button {
    display: inline-block;
    margin-top: 10px;
    background-color: #AFC1FF;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

.edit-button:hover {
    background-color: #AFC1FF;
}
